
.dart_tool/flutter_build/3a8caa3e146dcc4f02f35b58b3ee4cc0/.filecache
.dart_tool/flutter_build/3a8caa3e146dcc4f02f35b58b3ee4cc0/app.dill
.dart_tool/flutter_build/3a8caa3e146dcc4f02f35b58b3ee4cc0/debug_android_application.stamp
.dart_tool/flutter_build/3a8caa3e146dcc4f02f35b58b3ee4cc0/flutter_assets.d
.dart_tool/flutter_build/3a8caa3e146dcc4f02f35b58b3ee4cc0/kernel_snapshot.d
.dart_tool/flutter_build/3a8caa3e146dcc4f02f35b58b3ee4cc0/kernel_snapshot.stamp
build/app/intermediates/assets/debug/mergeDebugAssets/flutter_assets/kernel_blob.bin
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app.apk.sha1
build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
